<table class="table table-bordered">
    <thead>
    <colgroup>
        <col style="width: 30%;">
        <col style="width: 70%;">
    </colgroup>
    </thead>
    <tbody>
    <tr>
        <th>등록구분</th>
        <td>신규등록</td>
    </tr>
    <tr>
        <th>결제방법</th>
        <td>
            <input type="radio" id="paymentMethodBankAccount" name="paymentMethod" value="BANK_ACCOUNT"/><label
                for="paymentMethodBankAccount">은행계좌</label>
            <input type="radio" id="paymentMethodCreditCard" name="paymentMethod" value="CREDIT_CARD"
                   checked="checked"/><label
                for="paymentMethodCreditCard">신용카드</label>
        </td>
    </tr>
    <tr>
        <th>카드구분</th>
        <td>

            <div data-role="bind" data-type="input-radio" data-name="creditCardTypes"
                 data-ref="creditCardTypes"></div>
        </td>
    </tr>
    <tr>
        <th>카드번호</th>
        <td><input type="text" id="creditCardNumber"/></td>
    </tr>
    <tr>
        <th>생년월일</th>
        <td><input type="text" id="birthday"/></td>
    </tr>
    <tr>
        <th>유효기간</th>
        <td>
            <input type="text" id="expireMonth" class="input-sm"/> /
            <input type="text" id="expireYear" class="input-sm"/>
        </td>
    </tr>
    <tr>
        <th>카드비밀번호</th>
        <td><input type="text" name="prefixOfPassword"></td>
    </tr>
    <tr>
        <th>카드주</th>
        <td><input type="text" name="ownerName"></td>
    </tr>
    <tr>
        <th>이메일(선택)</th>
        <td><input type="text" name="email"></td>
    </tr>
    </tbody>
</table>