<div class="popup container">
    <div class="row modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
        <h4 class="modal-title">결제수단등록</h4>
    </div>
    <div class="modal-body">
        <div id="register-form-wrapper"></div>
    </div>

    <div class="modal-footer">
        <div class="text-right">
            <button id="btn-save" type="button" class="btn btn-black">등록</button>
            <button id="btn-cancel" type="button" class="btn btn-default">취소</button>
        </div>
    </div>
</div>