<div class="popup container">
    <div class="row modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
        <h4 class="modal-title" data-role="bind" data-name="title">타이틀</h4>
    </div>
    <div class="modal-body">
        <p data-role="bind" data-name="desc"></p>
    </div>

    <div class="modal-footer">
        <div class="text-right">
            <button id="btn-confirm" type="button" class="btn btn-black">확인</button>
            <button id="btn-cancel" type="button" class="btn btn-default">취소</button>
        </div>
    </div>
</div>