<div id="shop-search-wrapper"></div>

    <!--<div class="modal-footer">-->
        <!--<div class="text-right">-->
            <!--<button id="btn-prev" type="button" class="btn btn-default">이전</button>-->
            <!--<button id="btn-cancel" type="button" class="btn btn-default">닫기</button>-->
            <!--<button id="btn-save" type="button" class="btn btn-black">완료(선택0개)</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->