<div class="popup container">
    <div class="modal-header">
        <h4 class="modal-title">업주검색</h4>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
    </div>
    <div class="modal-body">
        <div class="shop-popup-container"></div>
    </div>

    <div class="modal-footer">
        <div class="text-right">
            <button id="btn-prev" type="button" class="btn btn-default">이전</button>
            <button id="btn-cancel" type="button" class="btn btn-default">닫기</button>
            <button id="btn-save" type="button" class="btn btn-black">완료(선택0개)</button>
        </div>
    </div>
</div>