<div class="box row">
    <div class="box-title">
        <h4>사업자 계약 조회</h4>
    </div>
    <div class="box-content">
        <div class="form-horizontal">
            <div class="form-group col-xs-6">
                <label for="shopName" class="col-sm-3 control-label">업소</label>
                <div class="col-sm-8">
                    <input class="form-control" data-role="bind"
                           readonly="readonly"
                           data-name="shopName" data-type="input-text" value="{{shopName}}"/>
                </div>
            </div>

            <div class="form-group col-xs-6">
                <label for="contract" class="col-sm-3 control-label">계약서</label>
                <div class="col-sm-8">
                    <button type="button" class="btn btn-primary">계약서 보기</button>
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group col-xs-6">
                <label for="shopName" class="col-sm-3 control-label">업소 카테고리</label>
                <div class="col-sm-8">
                    <input class="form-control" data-role="bind"
                           readonly="readonly"
                           data-name="shopMenuCategoryName" data-type="input-text"
                           value="{{shopMenuCategoryName}}"/>
                </div>
            </div>
            <div class="form-group col-xs-6">
                <label for="contract" class="col-sm-3 control-label">업소 실주소</label>
                <div class="col-sm-8">
                    <input class="form-control" data-role="bind"
                           readonly="readonly"
                           data-name="shopAddress" data-type="input-text" value="{{shopAddress}}"/>
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group col-xs-6">
                <label for="shopName" class="col-sm-3 control-label">업소 썸네일</label>
                <div class="col-sm-8">
                    <button type="button" class="btn btn-primary">썸네일 보기</button>
                </div>
            </div>

            <div class="form-group col-xs-6">
                <label for="contract" class="col-sm-3 control-label">업소<br/>스마트메뉴</label>
                <div class="col-sm-8">
                    <button type="button" class="btn btn-primary">스마트메뉴 보기</button>
                </div>
            </div>
        </div>
    </div>
</div>
