<div class="popup container">
    <div class="row modal-header">
        <h4 class="modal-title">주소 검색</h4>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>

    </div>
    <div class="modal-body">
        <div id="address-search-wrapper"></div>
    </div>

    <div class="modal-footer">
        <div class="text-right">
            <button id="btn-cancel" type="button" class="btn btn-default">취소</button>
        </div>
    </div>
</div>