<tr>
    <td class="left addr-list" colspan="2">
        <p><span class="label jibun">지 번</span> {{fullTextJibun}}</p>
        <p><span class="label doro">도로명</span> {{fullTextRoad}}</p>
    </td>
</tr>