    <table class="table table-horizontal borderless table-left" id="tbl-ad-categories">
        <colgroup>
            <col width="25%"/>
            <col width="75%"/>
        </colgroup>
        <tbody class="text-center">

        </tbody>
    </table>


