<table class="table table-bordered" id="tbl-added-shops">
    <colgroup>
        <col width="10%"/>
        <col width="15%"/>
        <col width="60%"/>
        <col width="15%"/>
    </colgroup>
    <thead class="thead-default">
    <th></th>
    <th>No</th>
    <th>업소명[업소번호]</th>
    </thead>
    <tbody class="text-center">
    </tbody>
</table>


