
    <button type="button" class="btn btn-danger btn-sm" id="btn-delete-all">전체삭제</button>
    <table class="table table-horizontal borderless table-left" id="tbl-request-ads">
        <colgroup>
            <col width="5%"/>
            <col width="15%"/>
            <col width="15%"/>
            <col width="10%"/>
            <col width="20%"/>
            <col width="15%"/>
            <col width="10%"/>
            <col width="5%"/>
            <col width="5%"/>
        </colgroup>
        <thead>
        <th>번호</th>
        <th>광고 업소명</th>
        <th>광고 카테고리</th>
        <th>광고 상품명</th>
        <th>광고 주소</th>
        <th>월 결제금액(원)</th>
        <th>빠른광고 예상금액(원)</th>
        <th>삭제</th>
        <th>수정</th>
        </thead>
        <tbody class="text-center">

        </tbody>
    </table>


